[submodule "modules/OSBot-Fast-API"]
	path = modules/OSBot-Fast-API
	url = git@github.com:owasp-sbot/OSBot-Fast-API.git
[submodule "modules/OSBot-AWS"]
	path = modules/OSBot-AWS
	url = git@github.com:owasp-sbot/OSBot-AWS.git
